@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    font-family: "Mulish", sans-serif;
}

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-02: rgb(66, 66, 71);
    --orange: rgb(255, 84, 0);
    --dark-heading: rgb(19, 19, 24);
    --light-paragraph: rgba(19, 19, 24, 0.7);
    --normal-paragraph: rgb(90, 90, 93);
}

.light-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-paragraph);
    line-height: 26px;
}

.container {
    max-width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    /* 1 rem = 16px */
}

.heading {
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--dark-heading);
    text-align: center;
    margin-bottom: 1.5rem;
}

.normal-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: var(--normal-paragraph);
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border: none;
    padding: .875rem 2.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 1.5rem;

}

/* Navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 273px;
}

.logo img {
    width: 48px;
    height: 56px;
    margin-right: 1rem;
}

.logo-heading {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--dark-heading);
}

.orange-home {
    color: var(--orange);
    font-weight: 700;
}

.orange-travel {
    color: var(--orange);
    font-weight: 800;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    gap: 2.75rem;
    /* display: none; */
}

.nav-logo {
    display: none;
}

nav>ul>li {
    list-style-type: none;
    display: inline-block;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--dark-02);
    font-size: 1.125rem;
    font-weight: 400;
}

/* banner styles */

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url("./Images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.625rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.travel-text-container {
    max-width: 800px;
    margin: 0 auto;
}

.travel-heading {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-align: center;
}

.banner p {
    color: white;
    margin-bottom: 2.5rem;
    /* width: 50%; */
    text-align: center;
}

.travel-form {
    border-radius: 8px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    backdrop-filter: blur(4px);
    width: 85%;
    margin: 0 auto;
}

.travel-form input,
.travel-form select,
.travel-form button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 1rem;
    width: 100%;
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

.travel-form button {
    background-color: var(--orange);
    color: white;
}

/* popular tours styles */
.popular-tours {
    display: flex;
    justify-content: center;
    /* gap: 1.5rem; */
}

.popular-tours-text {
    max-width: 577px;
    margin: 0 auto;
    /* text-align: left; */
}

.popular-tours-text h3 {
    text-align: left;
}

.popular-tours-text ul {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
}

.popular-tours-text li {
    margin-bottom: 1.5rem;

}

.popular-tours-text p {
    margin-bottom: 1.5rem;
}

/* choose destination styles */
.choose-destination-text {
    max-width: 643px;
    margin: 0 auto;
    text-align: center;
}

.country-card img {
    filter: brightness(70%);
    width: 100%;
    height: 300px;
    /* width height na dile kaj korbe na */
}

.row-1, .row-2, .row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    /* 24px */
    margin: 1.5rem 0;
}

.row-2{
    grid-template-columns: .8fr 1.5fr .7fr;
}

.row-3{
    grid-template-columns: 0.75fr 1.25fr;
}


.country-card {
    position: relative;
}

.country-card p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    /* 28px */
    font-weight: 800;
    line-height: 35px;
    text-align: center;
}


/* why choose us */


/* responsive */
/* for mobile phones */
@media screen and (max-width: 576px) {

    .travel-form,
    .popular-tours {
        flex-direction: column;

    }

    .container {
        margin: 3rem 1rem;
    }

    .heading {
        font-size: 1.25rem;
    }

    .normal-paragraph,
    .light-paragraph {
        font-size: 0.875rem;
    }

    .nav-container {
        display: none;
    }

    .nav-logo {
        display: block;
    }

    .nav-logo i {
        font-size: 1.5rem;
    }

    .logo-heading,
    .travel-heading {
        font-size: 1.375rem;
    }

    .banner p {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    /* popular tours */
    .popular-tours-text {
        max-width: 335px;
        margin: 0 auto;
    }

    .popular-tours-text ul {
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
    }

    .popular-tours-text li {
        margin-bottom: 0.75rem;
        /* 12px */
    }

    .popular-tours-text p {
        margin-bottom: .5rem;
    }
     /* choose destination */
    .row-1, .row-2, .row-3{
        grid-template-columns: 1fr;
    }




}