@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    font-family: "Mulish", sans-serif;
}

/* default styles */
* {
    margin: 0;
    /* padding: 0; */
}

:root {
    --dark-02: rgb(66, 66, 71);
    --orange: rgb(255, 84, 0);
    --dark-heading: rgb(19, 19, 24);
}

.container {
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    /* 1 rem = 16px */
}

/* Navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    /* width: 23.387%; */
    /* border: 1px solid #000; */
    width: 273px;
}

.logo img {
    width: 48px;
    height: 56px;
    margin-right: 1rem;
}

.logo h3 {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--dark-heading);
}

.orange-home {
    color: var(--orange);
    font-weight: 700;
}

.orange-travel {
    color: var(--orange);
    font-weight: 800;
}

.nav-container {
    display: flex;
    gap: 2.75rem;
    /* gap: 44px; */
}

nav>ul>li {
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--dark-02);
    font-size: 1.125rem;
    font-weight: 400;
}