/* responsive */
/* for mobile phones */
@media screen and (max-width: 576px) {

    .travel-form,
    .popular-tours,
    .why-choose-us-cards {
        flex-direction: column;
    }

    .container {
        margin: 3rem 1rem;
    }

    .heading {
        font-size: 1.25rem;
    }

    .normal-paragraph,
    .light-paragraph {
        font-size: 0.875rem;
    }

    .nav-container {
        display: none;
    }

    .nav-logo {
        display: block;
    }

    .nav-logo i {
        font-size: 1.5rem;
    }

    .logo-heading,
    .travel-heading {
        font-size: 1.375rem;
    }

    .banner p {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    /* popular tours */
    .popular-tours-text {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    .popular-tours-text ul {
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
    }

    .popular-tours-text li {
        margin-bottom: 0.75rem;
        /* 12px */
    }

    .popular-tours-text p {
        margin-bottom: .5rem;
    }

    /* choose destination */
    .row-1,
    .row-2,
    .row-3 {
        grid-template-columns: 1fr;
    }

    /* why choose us */

    .why-choose-us-cards h4 {
        font-size: 1.25rem;
    }

    .card-1,
    .card-2,
    .card-3 {
        width: 95%;
        margin: 0 auto;
    }

    .discount-card-1,
    .discount-card-2,
    .discount-card-3 {
        height: 700px;
    }

    .discount-card-1 img,
    .discount-card-2 img,
    .discount-card-3 img {
        height: 100%;
        object-fit: cover;
    }

    .tour-info {
        width: 90%;
        padding: 30px;
    }

    .discount-card-1 .tour-info,
    .discount-card-3 .tour-info,
    .discount-card-2 .tour-info {
        top: 38%;
        left: 50%;
        transform: translateX(-50%);
    }

    .tour-details {
        flex-wrap: wrap;
    }

    .travel-video {
        flex-direction: column;
    }

    .travel-video-link {
        width: 100%;
    }

    .travel-video-link iframe {
        width: 100%;
        /* height: 100%; */
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter-form {
        width: 100%;
    }

    .newsletter-image {
        width: 100%;
    }

    .newsletter-form img {
        width: 50%;
        height: 300px;
    }

    .btn-rotate {
        padding: 18px;

    }

    .btn-rotate h6 {
        font-size: 1rem;
    }

    .btn-rotate p {
        font-size: 1.2rem;
    }

    .travel-logo {
        gap: 10px;
    }
}

/* for tablets */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-bar {
        flex-direction: column;
        gap: 2rem;
    }

    .travel-text-container {
        width: 90%;
    }

    .travel-form {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .popular-tours {
        flex-direction: column;
    }

    .popular-tours-text {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }

    .discount-card-1,
    .discount-card-2,
    .discount-card-3 {
        height: 600px;
    }

    .discount-card-1 img,
    .discount-card-2 img,
    .discount-card-3 img {
        height: 100%;
        object-fit: cover;
    }

    .tour-info {
        width: 50%;
    }

    .tour-details {
        flex-wrap: wrap;
    }

    .travel-video {
        flex-direction: column;
    }

    .travel-video-texts .btn-primary {
        /* text-align: center; */
    }

}